//Colors
$dark: #212529;
$blue: #7cdaf9;
$grey-color: #4c5865;
$light-grey-color: #7d90a6;
$orange-color: #ff7f22;
$white-color: white;
$parag-color: #a3b8cc;

// Gradients
$orange-grad: linear-gradient(180deg, #ff7f22 0%, #ff5722 100%);
$orange-grad_dark: linear-gradient(0deg, #ff5722, #ff5722);
$blue-grad: linear-gradient(180deg, #22b3e3 100%, #7cdaf9 100%, #22b3e3 100%);
