.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(26, 26, 26, 0.67);
  }
  &__content {
    position: relative;
    display: flex;
    width: 496px;
    height: 240px;
    background-color: $white-color;
    border-radius: 10px;
  }
  &__img-block {
    display: flex;
    align-items: flex-start;
    padding-top: 48px;
    padding-left: 34px;
  }
  &__img-block img {
    width: 43px;
    opacity: 1;
  }
  &__text-block {
    display: flex;
    flex-direction: column;
    margin: 33px 70px 0 29px;
  }
  &__title {
    color: $dark;
  }
  &__paragraph {
    margin-top: 23px;
    color: $grey-color;
  }
  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 30%;
      width: 16px;
      height: 2px;
      background-color: $orange-color;
      content: "";
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
  }
}
