.btn_type1_normal {
  width: 200px;
  color: $white-color;
  background: $orange-grad;
  border-color: $orange-color;
  transition: 0.3s;
  &:hover {
    background: $orange-grad_dark;
  }
}
.btn_type1_disable {
  color: $light-grey-color;
  background: $grey-color;
  border-color: $grey-color;
  cursor: not-allowed;
}
