.btn_factory_normal {
  width: 236px;
  height: 48px;
  color: $white-color;
  background-color: transparent;
  border-color: $orange-color;
  transition: all 0.2s;
  &:hover {
    color: $white-color;
    background-color: $orange-color;
    border-color: $orange-color;
  }
}
.btn_factory_disable {
  width: 236px;
  height: 48px;
  color: $light-grey-color;
  background: transparent;
  border-color: $grey-color;
}
