section.shop-section
    .side-bar
        p.side-bar__screen-number.
            03
    h2.shop-section__heading.heading_md.
        Рынок комплектующих
    .shop-section__card-block
        include ../../utils/shop-card.pug
        +shop-card("./img/robotHand.svg", "Биомеханизм", "7", "biomech")
        +shop-card("./img/processor.svg", "Процессор", "5", "processor")
        +shop-card("./img/face.svg", "Душа", "25", "soul")