section.storage-section
    .side-bar
        p.side-bar__screen-number.
            04
    h2.storage-section__heading.heading_md.
        Склад
    .storage-section__card-block
        include ../../utils/storage-card.pug
        +storage-card("Биомеханизм", "5","biomech")
        +storage-card("Процессор", "3","processor")
        +storage-card("Душа", "15","soul")