section.title-section
    .side-bar
        p.side-bar__screen-number.
            01
        .side-bar__scroll
            p.
                скролл            
            img(src="./img/arrow.svg")
    .title-section__text-block
        h1.heading_xl.title-section__title.
            Фабрика по производству биороботов
        p.title-section__paragraph.paragraph_xl.
            класса "монитор-кресло"
    .title-section__img-block
        img.title-section__img(src="./img/robots_pair.png" alt="Robots")