section.wallet-section
    .side-bar
        p.side-bar__screen-number.
            02
    .wallet-section__title-block
        h2.wallet-section__title.heading_md.
            Кошелек криптовалют
    .wallet-section__coins-block
        .coins-block__coins                     
            img.jsCoin.coins-block__coins-item(src="./img/coin.png", alt="Монетка")                       
        .paragraph_md.coins-block__coins-quantity
            span#coinsQuantity.coinsQuantity 1 biorobo монета
                     
    .wallet-section__action-block
        button#getCoinsBtn.action-block__btn.
            Нацыганить
        label.action-block__checkbox-label.checkbox.wallet-section__checkbox 
            input#coinsCheckbox.checkbox__input(type="checkbox")
            span.checkbox__fake-checkbox
            span.action-block__checkbox-text.
                Цыганить по 5 монет