mixin radio(radio__title="Заголовок", radio__name, label_1="Вариант 1", label_2="Вариант 2")
    .radio.factory-section__radio
        h3.heading_xs.radio__title= radio__title
        .radio__item
            label.radio__label
                input.radio__input(type="radio" checked name= radio__name value= label_1 )
                span.radio__fake-radio
                span.radio__name.radio__name_1.paragraph_xs= label_1
            label.radio__label
                input.radio__input(type="radio" name= radio__name value= label_2)
                span.radio__fake-radio
                span.radio__name.radio__name_2.paragraph_xs= label_2

