mixin storage-card(card__title="Товар", card__cost="Несколько", type)    
    .storage-card(data-type = type)
        h3.partName.storage-card__heading.heading_sm= card__title    
        p.sellCost.storage-card__paragraph.paragraph_sm= "Стоимость "+card__cost+" монет"
        h3.storage-card__heading.heading_sm
            span.partValue= "0"
            =" шт"                       
        button.sellBtn.btn.btn_type2_disable.storage-card__btn('disabled' = true).
            Продать