.action-block__checkbox-label {
  display: flex;
}
.action-block__checkbox-text {
  color: $white-color;
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  @include text-size(16px, 150%);
}
.wallet-section__action-block {
  display: flex;
  margin-top: 43px;
}
.action-block__btn {
  margin-right: 23px;
  padding: 0;
  color: $orange-color;
  font-weight: 500;
  font-family: Montserrat;
  font-style: normal;
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid $orange-color;
  outline: none;
  cursor: pointer;
  @include text-size(16px, 24px);
}

@import "../../ui-kit/checkbox/checkbox.scss";
