%heading {
  margin: 0;
  padding: 0;
  color: $white-color;
  font-weight: 600;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
}
.heading_xl {
  @extend %heading;
  @include text-size(56px, 72px);
}
.heading_md {
  @extend %heading;
  @include text-size(32px, 125%);
}
.heading_sm {
  @extend %heading;
  @include text-size(20px, 32px);
}
.heading_xs {
  @extend %heading;
  @include text-size(14px, 20px);
}
