%paragraph {
  margin: 0;
  padding: 0;
  color: $parag-color;
  font-weight: 600;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
}
.paragraph_xl {
  @extend %paragraph;
  font: 24px/133%;
}
.paragraph_md {
  @extend %paragraph;
  font: 24px/100%;
}
.paragraph_sm {
  @extend %paragraph;
  font: 16px/150%;
}
.paragraph_xs {
  @extend %paragraph;
  font: 12px/133%;
}
