@import "./mixins/mixins.scss";
@import "./ui-kit/colors.scss";
@import "./ui-kit/text/heading.scss";
@import "./ui-kit/text/paragraph.scss";
@import "./ui-kit/buttons/btn.scss";
@import "./ui-kit/buttons/btn_type1.scss";
@import "./ui-kit/buttons/btn_type2.scss";
@import "./ui-kit/buttons/btn_type3.scss";
@import "./ui-kit/radio/radio.scss";
@import "./ui-kit/parts/parts.scss";

* {
  margin: 0;
  padding: 0;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}
